{% extends "base.html" %}
{% block title %}
<title>Home Page</title>
{% endblock %}
{% block content %}
  <h1>
    TODO list
    <a class="create-btn btn btn-primary" href="{% url 'todo-list:task-create' %}">Add task</a>
  </h1>
  <br>
  {% for todo in todo_list %}
    <h5>
      {{ todo.title }}
      {% if todo.is_done %}
        <span class="green">Done</span>
        <a class="create-btn btn btn-secondary" href="{% url 'todo-list:tag-toggle' todo.pk %}">Undo</a>
      {% else %}
        <span class="red">Not done</span>
        <a class="create-btn btn btn-primary green-btn" href="{% url 'todo-list:tag-toggle' todo.pk %}">Complete</a>
      {% endif %}
    </h5>
    <p class="created gray">
      Created: {{ todo.created_at }}
      {% if not todo.is_done %}
      <span class="dark-red">Deadline: {{ todo.deadline }}</span>
      {% endif %}
    </p>
    <p class="gray">
      Tags:
      {% for tag in todo.tags.all %}
        {{ tag.title }}
      {% endfor %}
      <a href="{% url 'todo-list:task-update' todo.pk %}">Update</a>
      <a href="{% url 'todo-list:task-delete' todo.pk %}">Delete</a>
    </p>
  {% endfor %}
{% endblock %}